/* crosses_right.overlay */

&spi1 {
    trackball_peripheral@0 {
        /* センサーの感度設定 */
        cpi = <800>;
        x-invert;
        /* Y軸反転が必要な場合はコメントアウトを外す */
        /* y-invert; */
    };
};

/ {
    /* 加速装置（スケーラー）の作成 */
    trackball_scaler: trackball_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <0x02>;
        codes = <0x00 0x01>;
        track-remainders;
    };
};

/* 作った加速装置をトラックボールに適用 */
&trackball_peripheral_split {
    /* 5 2 = 2.5倍速の設定 */
    input-processors = <&trackball_scaler 5 2>, <&zip_xy_to_scroll_mapper>, <&zip_ble_report_rate_limit>;
};
