/* config/crosses_left.overlay */

&spi1 {
    trackball_peripheral: trackball_peripheral@0 {
        cpi = <300>;
        /delete-property/ x-invert;
        /delete-property/ y-invert;
    };
};

/ {
    trackball_scaler: trackball_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <2>;
        type = <0x02>;
        codes = <0x00 0x01>;
        track-remainders;
    };

    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball_peripheral>;
        input-processors = <&trackball_scaler 1 10>, <&zip_xy_to_scroll_mapper>;
    };
};
