# 外部の設計図が勝手に使っている「謎の単語」を定義してエラーを消す
config PMW3610_INIT_POWER_UP_EXTRA_DELAY_MS
    int
config PMW3610_ANTI_WARP
    bool
config PMW3610_ANTI_WARP_THRES
    int
config PMW3610_REPORT_INTERVAL_MIN
    int
config PMW3610_SQUAL_LOG
    bool
config PMW3610_SQUAL_LOG_INTERVAL
    int
config PMW3610_IGNORE_FIRST_N
    int
config PMW3610_IGNORE_AFTER_REST
    bool
