config PMW3610_IGNORE_FIRST_N
    int
    default 15
config PMW3610_IGNORE_AFTER_REST
    bool
    default n
config PMW3610_ANTI_WARP
    bool
    default y
config PMW3610_ANTI_WARP_THRES
    int
    default 100
