# 外部ファイルにある「存在しない設定」を仮定義してエラーを消すおまじない
config PMW3610_INIT_POWER_UP_EXTRA_DELAY_MS
    int
config PMW3610_ANTI_WARP
    bool
config PMW3610_ANTI_WARP_THRES
    int
config PMW3610_REPORT_INTERVAL_MIN
    int
config PMW3610_SQUAL_LOG
    bool
config PMW3610_SQUAL_LOG_INTERVAL
    int
config PMW3610_IGNORE_FIRST_N
    int
config PMW3610_IGNORE_AFTER_REST
    bool
