name: Draw Keymap

on:
  workflow_dispatch:
  push:
    paths:
      - "config/*.keymap"
      - "config/*.dtsi"
      - ".github/workflows/draw-keymap.yml"

permissions:
  contents: write

jobs:
  draw:
    uses: caksoylar/keymap-drawer-action/.github/workflows/draw-zmk.yml@v1
    with:
      keymap_patterns: "config/*.keymap"
      output_folder: "img"
      parse_args: ""
      draw_args: ""
      commit_message: "[Draw] Update keymap diagram"
