name: Draw Keymap

on:
  workflow_dispatch:
  push:
    paths:
      - "config/**.keymap"
      - "config/**.dtsi"
      - ".github/workflows/draw-keymap.yml"

permissions:
  contents: write

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    with:
      # 変更点：config以下のサブフォルダも全部探すようにしました
      keymap_patterns: "config/**/*.keymap"
      output_folder: "img"
      parse_args: ""
      draw_args: ""
      commit_message: "[Draw] Update keymap diagram"
